
.icon-icon-test:before { content: '\e800'; } /* '' */
.icon-emo-beer:before { content: '\e801'; } /* '' */
.icon-emo-shoot:before { content: '\e802'; } /* '' */
.icon-plancast:before { content: '\e803'; } /* '' */
.icon-glasses:before { content: '\e804'; } /* '' */